@model Test6.Models.Smer

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Smer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazivSmera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazivSmera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktivan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktivan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SmerID" class="btn btn-primary">Izmeni</a> |
    <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
</div>
